{% extends "index.html" %} {% block content %}
<h1>Authors with No Reservations</h1>
<div class="container content-block1">
  <div class="item-list">
    <div class="list-header">
      <span>Author Name</span>
    </div>
    {% for author in authors %}
    <div class="list-row">
      <div class="author-name">{{ author.name }}</div>
    </div>
    {% endfor %}
  </div>
</div>
<style>
  /* List styling */
  .item-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
  }

  .list-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  .list-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #000;
  }

  .author-name {
    flex-basis: 100%;
    margin-right: 10px;
  }
</style>
{% endblock %}
