{% extends "index.html" %} {% block content %}
<h1>Admin Names</h1>
<div class="container content-block1">
  <div class="item-list">
    <div class="list-header">
      <span>Admin Name</span>
    </div>
    {% for admin in admins %}
    <div class="list-row">
      <div class="admin-name">{{ admin.admin_name }}</div>
    </div>
    {% endfor %}
  </div>
</div>
<style>
  .item-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
  }

  .list-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  .list-header span {
    flex-basis: 100%;
  }

  .list-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #000;
  }

  .admin-name {
    flex-basis: 100%;
    margin-right: 10px;
  }
</style>
{% endblock %}
