{% extends "index.html" %} {% block content %}
<div class="container content-block1">
  <h1>User Reservations</h1>
  <ul class="item-list">
    <div class="list-header">
      <span class="list-header-span">ID</span>
      <span class="list-header-span">Book Title</span>
      <span class="list-header-span">ISBN</span>
      <span class="list-header-span">Reservation Date</span>
      <span class="list-header-span">Expected Date</span>
      <span class="list-header-span">Return Date</span>
      <span class="list-header-span">Action</span>
    </div>
    {% for item in reservations %}
    <div
      class="list-row {% if item['reservation_status'] == 0 and item['is_approved'] == 0 %}grey{% elif item['reservation_status'] == 0 and item['is_approved'] == 1 %}yellow{% elif item['reservation_status'] == 1 and item['is_delayed'] == 0 and item['return_date'] == None %}green{% elif item['reservation_status'] == 1 and item['is_delayed'] == 1 and item['return_date'] == None %}red{% elif item['return_date'] != None %}blue{% endif %}"
    >
      <span class="list-row-span">{{ item['reservation_id'] }}</span>
      <span class="list-row-span">{{ item['titleBK'] }}</span>
      <span class="list-row-span">{{ item['book_id'] }}</span>
      <span class="list-row-span">{{ item['borrow_date'] }}</span>
      <span class="list-row-span">{{ item['expected_date'] }}</span>
      <span class="list-row-span">{{ item['return_date'] }}</span>
      <span class="list-row-span">
        {% if item['reservation_status'] == 0 and item['is_approved'] == 0 %}
        <a
          href="{{ url_for('pending_reservations_info_user', reservation_id=item['reservation_id']) }}"
          class="view-btn"
          >View</a
        >
        {% elif item['reservation_status'] == 0 and item['is_approved'] == 1 %}
        <a
          href="{{ url_for('approved_reservations_info_user', reservation_id=item['reservation_id']) }}"
          class="view-btn"
          >View</a
        >
        {% elif item['reservation_status'] == 1 and item['is_approved'] == 1 and
        item['return_date'] == None%}
        <a
          href="{{ url_for('open_reservations_info_user', reservation_id=item['reservation_id']) }}"
          class="view-btn"
          >View</a
        >
        {% elif item['return_date'] != 'None' %}
        <a
          href="{{ url_for('past_reservations_info_user', reservation_id=item['reservation_id']) }}"
          class="view-btn"
          >View</a
        >
        {% endif %}
      </span>
    </div>
    {% endfor %}
  </ul>
  <h2>Reference</h2>
  <p>&#x1F4D2;-Reservation approved</p>
  <p>&#x1F4D3;-Reservation pending</p>
  <p>&#x1F4D7;-Reservation open</p>
  <p>&#x1F4D5;-Reservation delayed</p>
  <p>&#x1F4D8;-Reservation closed</p>
</div>
<style>
  .item-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
  }

  .list-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  .list-header-span {
    flex-basis: 100%;
    text-align: left;
  }

  .list-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .list-row-span {
    flex-basis: 100%;
    text-align: left;
  }

  .view-btn {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background-color: white;
  }

  /* Customized background colors */
  .list-row.yellow {
    background-color: yellow; /* Reservation status 0 and not delayed */
  }

  .list-row.green {
    background-color: green; /* Reservation status 1 and not delayed */
  }

  .list-row.red {
    background-color: red; /* Reservation status 1 and delayed */
  }

  .list-row.grey {
    background-color: #868c8f; /* Reservation status 0 and not approved */
  }
  .list-row.blue {
    background-color: #34abeb; /* Reservation status 0 and not approved */
  }
</style>

{% endblock %}
