{% extends "index.html" %} {% block content %}
<h1 style="color: black">Users</h1>
<div class="container content-block1">
  <div class="search-bar">
    <form action="{{ url_for('users_active') }}" method="GET">
      <input
        type="text"
        name="search"
        placeholder="Search by User ID"
        value="{{ request.args.get('search', '') }}"
      />
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="item-list">
    <div class="list-header">
      <span>User ID</span>
      <span>Username</span>
      <span>First Name</span>
      <span>Last Name</span>
      <span>School ID</span>
      <span>Role</span>
      <span>Active</span>
      <span>Action</span>
    </div>
    {% for item in data %}
    <div class="list-row">
      <span>{{ item['user_id'] }}</span>
      <span>{{ item['username'] }}</span>
      <span>{{ item['first_name'] }}</span>
      <span>{{ item['last_name'] }}</span>
      <span>{{ item['school_id'] }}</span>
      <span>{{ item['role_label'] }}</span>
      <span>{{ item['active_state'] }}</span>
      <span>
        <form
          action="{{ url_for('toggle_user_active', user_id=item['user_id'], active_state=item['active_state']) }}"
          method="POST"
        >
          <button
            type="submit"
            class="toggle-btn {% if item['active_state'] == 'ACTIVE' %}active-btn{% else %}inactive-btn{% endif %}"
          >
            {{ 'Deactivate' if item['active_state'] == 'ACTIVE' else 'Activate'
            }}
          </button>
        </form>
      </span>
    </div>
    {% endfor %}
  </div>
</div>
<style>
  .item-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
  }

  .list-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  .list-header span {
    flex-basis: 16.66%; /* Set equal width for each span */
  }

  .list-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .list-row span {
    flex-basis: 16.66%; /* Set equal width for each span */
  }

  .list-row:last-child {
    border-bottom: none;
  }

  .toggle-btn {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    color: white;
  }

  .active-btn {
    background-color: #f44336;
  }

  .inactive-btn {
    background-color: #4caf50;
  }

  .search-bar {
    margin-bottom: 10px;
  }

  .search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
  }

  .search-bar button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
</style>
{% endblock %}
