{% extends "index.html" %} {% block content %}
<div class="container content-block1">
  <h1>{{ book.titleBK }}</h1>
  <h3>ISBN: {{ book.ISBN }}</h3>
  <h3>Publisher: {{ book.publisher }}</h3>
  <h3>Num Pages: {{ book.num_pages }}</h3>
  <h3>Language: {{ book.language }}</h3>
  <h3>Summary: {{ book.summary }}</h3>
  <img src="{{ book.image }}" alt="Book Cover" width="200px" />
  <h3>Authors:</h3>
  <ul>
    {% for author in authors %}
    <li>{{ author.name }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
