{% extends "index.html" %} {% block content %}
<div class="container content-block1">
  <h1>{{ book.titleBK }}</h1>
  <h3>ISBN: {{ book.ISBN }}</h3>
  <h3>Publisher: {{ book.publisher }}</h3>
  <h3>Num Pages: {{ book.num_pages }}</h3>
  <h3>Language: {{ book.language }}</h3>
  <h3>Summary: {{ book.summary }}</h3>
  <img src="{{ book.image }}" alt="Book Cover" width="200px" />

  <h2>Rate this Book</h2>
  <form method="POST" action="{{ url_for('submit_rating', isbn=book.ISBN) }}">
    <label for="rating">Select Rating:</label>
    <select name="rating" id="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <br /><br />
    <input type="submit" value="Submit Rating" class="button" />
  </form>
</div>
{% endblock %}
