{% extends "index.html" %} {% block content %}
<div class="container content-block1">
  <div class="book-details">
    <ul class="book-attributes">
      <li><strong>Title:</strong> {{ book.titleBK }}</li>
      <li><strong>Publisher:</strong> {{ book.publisher }}</li>
      <li><strong>ISBN:</strong> {{ book.ISBN }}</li>
      <li><strong>Number of Pages:</strong> {{ book.num_pages }}</li>
      <li><strong>Language:</strong> {{ book.language }}</li>
      <li>
        <strong>Summary:</strong>
        <a href="{{ book.summary }}">{{ book.summary }}</a>
      </li>
      <li>
        <strong>Image:</strong>
        <a href="{{ book.image }}"
          ><img
            src="{{ book.image }}"
            alt="Book Image"
            style="max-width: 200px"
        /></a>
      </li>
    </ul>
  </div>
  <h3>Authors:</h3>
  <ul>
    {% for author in authors %}
    <li>{{ author.name }}</li>
    {% endfor %}
  </ul>
  <div class="form-group">
    <form action="{{ url_for('rent', isbn=book.ISBN) }}" method="POST">
      <button type="submit" class="rent-button">Submit Rent Request</button>
    </form>
  </div>
</div>
<style>
  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .book-details {
    margin-bottom: 20px;
  }

  .book-attributes {
    list-style-type: none;
    padding: 0;
  }

  .book-attributes li {
    margin-bottom: 10px;
  }

  .rent-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
</style>
{% endblock %}
